<<<<<<< HEAD
header{

  
}

#drink-btn{
    margin-left: 40%;
}

#dish-btn{
    margin-left: 40%;

}

#content{
    overflow-y: scroll
}

table { 
    border-collapse: collapse; 
    border-spacing: 0; 
    width: 100%; 
    border: 0px solid #ddd; 
} 
  
th, 
td { 
    text-align: left; 
    padding: 8px; 
} 

/* width */         
::-webkit-scrollbar { 
    width: 10px; 
} 

/* Track */ 
::-webkit-scrollbar-track { 
    background: #f1f1f1; 
} 

/* Handle */ 
::-webkit-scrollbar-thumb { 
    background: #888; 
} 

/* Handle on hover */ 
::-webkit-scrollbar-thumb:hover { 
    background: #555; 
} 
  
.scroll { 
    display: block; 
    border: 0px solid red; 
    padding: 5px; 
    margin-top: 5px; 
    width: 100%; 
    height: 70%; 
    overflow-y: scroll; 
} 



/* @media (width < 770px){

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #favorites{

    margin-right: 450px;

    }

    #drink-btn{
        margin-right: 50%;
    }
    
    #dish-btn{
        margin-right: 50%;
    
    }

} */
=======
/* header {
    display: flex;
    border: 5px solid black;
    color: rgb(47, 18, 153);
    margin-bottom: 50px;
} */

body {
    background-image: url('gourmet.jpg');
}

/* #buttons {
    display: flex;
    justify-content: space-around;
} */

>>>>>>> 88fe2de977a0ce2fb4dc1fe9b92e53fdd36cd8db
